# Dist folders
build

# Logs & Reports
logs
coverage
*.log
yarn-debug.log*
yarn-error.log*


# Runtime data
pids
*.pid
*.seed
*.pid.lock
tsconfig.tsbuildinfo

# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity
